[Desktop Entry]
Name=Fluent-round-dark
X-KDE-PluginInfo-Name=Fluent-round-dark
X-KDE-PluginInfo-Author=Vince Liuice
X-KDE-PluginInfo-Email=vinceliuice@hotmail.com
X-KDE-PluginInfo-License=GPLv3
