[Desktop Entry]
Name=Fluent-round
Comment=Fluent theme for plasma

X-KDE-PluginInfo-Author=Vince Liuice
X-KDE-PluginInfo-Email=vinceliuice@hotmail.com
X-KDE-PluginInfo-Name=Fluent-round
X-KDE-PluginInfo-Website=https://plasma.kde.org
X-KDE-PluginInfo-Category=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=false
X-Plasma-API=5.0
X-KDE-PluginInfo-Version=2.1

[ContrastEffect]
enabled=false
contrast=0.2
intensity=1.4
saturation=1

[AdaptiveTransparency]
enabled=true
