[Desktop Entry]
Name=Fluent-red
X-KDE-PluginInfo-Name=Fluent-red
X-KDE-PluginInfo-Author=Vince Liuice
X-KDE-PluginInfo-Email=vinceliuice@hotmail.com
X-KDE-PluginInfo-License=GPLv3
